{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/bg-chatbot.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">I'm Peepoo- A Chatbot. I'm here to help you with your questions.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I'm a Web application used to conduct an on-line chat conversation via text or text-to-speech, providing direct contact with a live robotic agent. I can help customers by automating conversations and interact with them through messaging platforms.</p>
                        <p>I can be integrated to different websites and trained on their database after which I can assist you with your queries.</p>
                        <p>You can either text chat or voice chat with me and I'll try to answer all of your questions.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}