{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/bg-chatbot.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">I'm Peepoo- A Chatbot. I'm here to help you with your questions.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <span style="font-size:35px; font-weight: bold; ">Hey,</span><span style="font-size:27px;font-weight: bold">I'm Peepo a chat and voicebot used to conduct an on-line chat conversation via text or text-to-speech, providing direct contact with a live robotic agent. I can help customers by automating conversations and interact with them through messaging platforms. This will make me like 24x7 virtual assistant for yout websites.</span><br><br>
                        <div style="font-size:27px;font-weight: bold;">I can be integrated to different websites and trained on their database after which I can assist you with your queries related to the website as i will be trained on all the data and hence be like a replaceable character of a support person in call centers. </div><br>
                        <div style="font-size:27px; font-weight: bold;">You can either text chat with me by directly messaging me from <a href="/textchat">Textchat</a>option and voicechat me via speech input from <a href="/voicechat">VoiceChat</a> and I'll try to answer all of your questions. Feel free to ask me any Questions.</div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}