{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/bg-chatbot.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Peepoo</h1>
                            <span class="subheading">A Chatbot using NLP</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                            <h2 class="post-title">What is a Chatbot?</h2>
                            <h3 class="post-subtitle">At the most basic level, a chatbot is a computer program that simulates and processes human conversation, allowing humans to interact with digital devices as if they were communicating with a real person.</h3><br>
                        
                    
                    <!-- Divider-->
                    <hr class="my-4" />

                        <h2 class="post-title">What is NLP?</h2>
                        <h3 class="post-subtitle">Natural language processing (NLP) refers to the branch of computer science—and artificial intelligence — concerned with giving computers the ability to understand text and spoken words in much the same way human beings can.</h3><br>
                
                    <!-- Divider-->
                    <hr class="my-4" />
                            <h2 class="post-title">What is NLP Chatbot?</h2>
                            <h3 class="post-subtitle">An NLP based chatbot is a computer program or artificial intelligence that communicates with a customer via textual or sound methods. Such programs are often designed to support clients on websites or via phone.</h3>
                       
                   
                    <!-- Divider-->
                    <hr class="my-4" />
                        <p class="post-meta">
                            Created By Mujaffar Bhati, Rumsha Shaikh, Mansha Sayed
                        </p>
                   
                </div>
            </div>
        </div>
{% endblock %}